<div class="container">
  <form #f="ngForm" (ngSubmit) = "getWeatherInfo(f.value.cityName); f.reset()">
    <div class="form-group">
      <label for="cityName">City Name</label>
      <input type="text" class="form-control" id="cityName"  name="cityName" required ngModel>
    </div>

    <button type="submit"  class="btn">Add</button>

  </form>
</div>


<ul>
  <li *ngIf=weatherinfo>
    <b> {{weatherinfo.city}}'s </b> weather today: <br> Current temperature: {{weatherinfo.temp}} <br>
    Max temperature today: {{weatherinfo.maxtemp}} <br>
    Min temperature today: {{weatherinfo.mintemp}} <br>
    Wind Speed: {{weatherinfo.speed}} <br> <br>
  </li>


</ul>
